body {
    background-color: $bodyColor;
}
    // TITLE MY CAVE
.whiteSpan {
    color: $mainTextColor;
}
.transparentText {
    -webkit-text-stroke: 1px #fff;
}
.bigTitle {
    font-size: 6vw;
    transform: rotate(-90deg);
    font-family: Source_Sans_Pro_Bold;
    position: absolute;
    left: -3%;
    top: 9%;
}
// -------------------------------------------------------------------

    // MAIN TITLE + BOUTEILLE
.main {
    width: 100%;
    height: 85vw;
    position: relative;
}
    // IMAGE CAVE
.cave {
    background-image: url('../img/Calque 1.png');
    background-size: cover;
    width: 26vw;
    height: 45vw;
    position: absolute;
    left: 30%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    margin-top: 16%;
    margin-bottom: 22%;
    margin-right: 10%;
    margin-left: 13%;
    width: 77.2%;
    height: 82%;
}
.caveBottle1 {
    margin-right: 0;
    width: 20%;
    height: 20%;
    background-image: url('../img/block_nine.jpg');
    background-size: cover;
    background-position: center;
}
.caveBottle2 {
    width: 20%;
    height: 20%;
    background-image: url('../img/block_nine.jpg');
    background-size: cover;
    background-position: center;
}
    // BOTTLE PRESENTATION

.imgBottle {
    width: 15vw;
    position: absolute;
    left: 70%;
}
h2 {
    color: $mainTextColor;
    font-family: $bigFont;
}
h3 {
    color: $mainTextColor;
    font-family: $bigFont;
}
p {
    color: $mainTextColor;
    font-family: $normalFont;
    width: 37%;
    text-align: center;    
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 60%;
    left: 55%;  
}
// -----------------------------------------------------------------------

    // FORM LOGIN

::placeholder {
    color: white;
}
input, text {
    color: white;
}
#username {
    background-color: $bodyColor;
    border-color: $mainTextColor;
    font-family: $normalFont;
}
#password {
    background-color: $bodyColor;
    border-color: $mainTextColor;
    font-family: $normalFont;
}
#button {
    padding: 5px;
    margin: 20px 0;
    background-color: $logoColor;
    color: $mainTextColor;
    font-family: $normalFont;
}  