body {
    background-color: $bodyColor;
}
.whiteSpan {
    color: $mainTextColor;
}
.transparentText {
    -webkit-text-stroke: 1px #fff;
}
.bigTitle {
    font-size: 6vw;
    transform: rotate(-90deg);
    font-family: Source_Sans_Pro_Bold;
}
p {
    font-family: Source_Sans_Pro;
    color: white;
    font-size: 50px;
}