body {
    background-color: $bodyColor;
}
    // TITLE MY CAVE
.whiteSpan {
    color: $mainTextColor;
}
.transparentText {
    -webkit-text-stroke: 1px #fff;
}
.bigTitle {
    font-size: 6vw;
    transform: rotate(-90deg);
    font-family: Source_Sans_Pro_Bold;
    position: absolute;
    left: -3%;
    top: 9%;
}
// -------------------------------------------------------------------

    // MAIN BODY (TITLE + IMAGE CAVE + BOTTLE PRESENTATION)
.main {
    width: 100%;
    height: 85vw;
    position: relative;
}
    // IMAGE CAVE
.cave {
    background-image: url('../img/Calque 1.png');
    background-size: cover;
    width: 26vw;
    height: 45vw;
    position: absolute;
    left: 30%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    margin-top: 16%;
    margin-bottom: 22%;
    margin-right: 10%;
    margin-left: 13%;
    width: 77.2%;
    height: 82%;
}
.caveBottle1 {
    margin-right: 0;
    width: 20%;
    height: 20%;
    background-image: url('../img/block_nine.jpg');
    background-size: cover;
    background-position: center;
}
.caveBottle2 {
    width: 20%;
    height: 20%;
    background-image: url('../img/block_nine.jpg');
    background-size: cover;
    background-position: center;
}
    // BOTTLE PRESENTATION

.imgBottle {
    width: 15vw;
}
h2 {
    color: $mainTextColor;
    font-family: $bigFont;
}
h3 {
    color: $mainTextColor;
    font-family: $bigFont;
}
p {
    color: $mainTextColor;
    font-family: $normalFont;
    width: 37%;
    text-align: center;    
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 55%;  
}
.disconnect {
    position: absolute;
    left: 94%;
    color: $mainTextColor;
}
.disconnectColor {
    color: $oneLetterColor
}
a {
    font-family: $normalFont;
}
// -----------------------------------------------------------------------

    // FORM LOGIN

::placeholder {
    color: white;
}
input, text {
    color: white;
}
#username {
    background-color: $bodyColor;
    font-family: $normalFont;
    padding: 10px;
}
#password {
    background-color: $bodyColor;
    font-family: $normalFont;
    padding: 10px;
}
#button {
    background-color: $logoColor;
    color: $mainTextColor;
    font-family: $normalFont;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
}
.loginTable {
    display: flex;
    flex-direction: column;
    width: 10vw;
    position: absolute;
    left: 89.9%;
}
.loginTable>div {
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    display: flex;
    justify-content: center;
}
.msg {
    color: $mainTextColor;
    font-family: $normalFont;
    font-style: italic;
    position: absolute;
    left: 77%;
    top: -3%;
}
// -------------------------------------------
    //FORM CREATE

.createForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 10vw;
    left: 56.3%;
    top: 1.5%;
    background-color: $logoColor;
    border-radius: 5px;
}
#name {
    background-color: $logoColor;
    font-family: $normalFont;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
#year {
    background-color: $logoColor;
    font-family: $normalFont;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
#grape {
    background-color: $logoColor;
    font-family: $normalFont;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
#region {
    background-color: $logoColor;
    font-family: $normalFont;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
#country {
    background-color: $logoColor;
    font-family: $normalFont;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
#description {
    background-color: $logoColor;
    font-family: $normalFont;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.buttonCreate {
    background-color: $mainTextColor;
    color: $logoColor;
    font-family: $normalFont;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}