// CSS MENU

.admin {
    max-height: 50px;
    max-width: auto;
}
.menu {
    @include flex(flex, space-between, center);
    list-style: none;
    padding: 0 40px;
}
h4 {
    color: $mainTextColor;
}
// -----------------------------------------------------------