//VARIABLES FONTS
$bigFont: SourceSansProBold;
$normalFont: SourceSansPro;

/* VARIABLES COULEURS  */
$bodyColor: #000000;
$mainTextColor: #ffffff;
$oneLetterColor: #885C7E;
$logoColor: #88002D;
$plusColor: #3E0018;
